<div class="container-fluid">
  <div class="jumbotron">
   <h1 class="d-inline-block">App V2.1 released</h1><button type="button"class="btn btn-light" disabled>2020-11-20</button>
    <p>This release contains large update of the german translation and few bug fixes.</p>
    <p>Eager to learn more about the new features? Follow us on<a class="btn btn-link">Facebook</a>,<a class="btn btn-link btn-sm">Twitter</a>or<a class="btn btn-link">LinkedIn</a>.</p>
  <button type="button"class="btn btn-primary">GO TO DOWNLOAD PAGE</button>
  <button type="button"class="btn btn-success">COMPLETE LIST OF CHANGES</button>
  <div class="container">
    <h1 class="d-inline-block">App V2.0 released</h1><button type="button"class="btn btn-light" disabled>2020-10-15</button>
    <p>In this release,App was updated to OpenSSL 1.1.1h.This version also fixes several bugs and adds some small improvements.</p>
    <button type="button"class="btn btn-dark">COMPLETE LIST OF CHANGES</button>
  </div>
  </div>
</div>

