<div class="container-fluid">
  <div class="card-header">
    <div class="row">
  <h4>Admin</h4><i class="fa fa-bars col-8 mt-1" aria-hidden="true"></i><i class="fa fa-user-circle mr-2 mt-1" aria-hidden="true"></i>SSStockAlerts<i class="fa fa-caret-down ml-1 mt-1" aria-hidden="true"></i>
  </div>
</div>
<ul>
  <li><a class="active"><i class="fa fa-tachometer mr-3" aria-hidden="true"></i>Dashboard</a></li>
  <li><a ><i class="fa fa-bell mr-3 " aria-hidden="true"></i>Users</a>
</ul>

<div style="margin-left:17%;padding:1px 16px;height:1000px;">
  <div class="row">
    <div class="card-header" style="width:1300px;height: 50px;">
    Dashboard<button class="btn "><i class="fa fa-refresh "></i>Refresh</button>
  </div>
  </div>
  <div class="row">
  <div class="card mt-3 shadow p-3 mb-5 bg-white rounded"id="subCard1" style="width: 17rem;height:380px">
    <div class="card-body">
      <div class="text-center">
      <h5 class="card-title">Daily</h5>
      </div>
      <hr>
      <b>
      <p>Total alerts<span style="color: black;">0</span></p><hr>
      <p>Profitable alerts<span  style="color: lightgreen;">0</span></p><hr>
      <p>SL alerts<span style="color: red;">0</span></p><hr>
      <p>Total investment<span style="color: black;">0</span></p><hr>
      <p>ROI<span  style="color: black;">0</span></p><hr>
      <p>ROI present<span  style="color: black;">0</span></p></b>

</div>
</div>
<div class="card mt-3 ml-5 shadow p-3 mb-5 bg-white rounded" id="subCard2" style="width: 17rem;">
  <div class="card-body">
    <div class="text-center">
    <h5 class="card-title">Weekly 2020-11-30 to 2020-12-05</h5>
    </div>
    <hr>
    <b>
    <p>Total alerts<span style="color: black;">18</span></p><hr>
    <p>Profitable alerts<span  style="color: lightgreen;">5</span></p><hr>
    <p>SL alerts<span style="color: red;">7</span></p><hr>
    <p>Total investment<span style="color: black;">26,450.6</span></p><hr>
    <p>ROI<span  style="color: black;">50.15</span></p><hr>
    <p>ROI present<span  style="color: black;">0.19</span></p>
    <p>T1 Achieved: 0 T2 achieved: 3 T3 Achieved: 1 T4 Achieved: 1</p></b>

</div>
</div>
</div>
</div>


