<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container"><br>
      LogiBroadband<br><br>
      <h1>Active Users</h1><br>
        <select class="form-control form-control-md">
          <option>Suggested actions</option>
        </select><br>
        <hr>
        <div class="row">
          <div class="custom-navbar-buttons col-12">
          <p><i class="fa fa-plus"><span style="color: black">  Add user</span></i>
          <i class="fa fa-ellipsis-h"></i>
          <i class="fa fa-filter"><span style="color: black"> Filter</span></i></p>
          <input id="searchBar"class="form-control" type="text" placeholder="Search" >
           <p><i class="fa fa-bars"></i></p>
          </div>
        </div>
          <br>
         <table class="table">
          <thead>
            <tr>
              <th scope="col">Display name</th>
              <th scope="col">Username</th>
              <th scope="col">Licenses</th>
              <th scope="col">Validity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Logesh P</th>
              <td>admin@LogiBroadband.in</td>
              <td>Basic 1 Month</td>
              <td>1-mar-2020 to Apr-2020</td>
            </tr>
            </tbody>
            </table>
      </div>

