<div class="container-fluid">
  <div class="card mx-auto">
    <div class="row">
      <div class="test rounded-circle" ><h1 class="h1 ml-5 mt-4">SB</h1><br><br>
    <a class="card-link ml-4 mt-2"><small>Changephoto</small></a></div>
     <h3>sudha</h3>
    <div class="col-md-8 "><p><i class="fa fa-key" aria-hidden="true"><span style="color: black">Reset password</span></i>  <i class="fa fa-ban" aria-hidden="true"><span style="color: black">Block sign</span></i>  <i class="fa fa-user-plus" aria-hidden="true"><span style="color: black">Delete user</span></i></p></div>
  </div>
    <div class="card-body">
      <div class="topnav">
        <a class="active">Account</a>
        <a>Device</a>
        <a>Licenses</a>
      </div>
    </div><br>
    <div class="row">
    <p class="ml-5"><b>Username/E-mail</b><br>
    admin@ssstockalerts.in<br>
    <a class="card-link">Manage username and email</a></p><br>

    <p class="ml-3"><b>Aliases</b><br>
      <a class="card-link">Manage username and email</a></p><br>

    <p class="ml-5"><b>Last sign-in</b><br>
        December 1, 2020, 10:38 PM<br>
      <a class="card-link">View last sign-in</a></p><br>


      <p class="ml-5"><b>Sign-out</b><br>
        Sign-out of all 365 sessions.<br>
        <a class="card-link">Initiate sign-out</a></p><br>


      <p class="ml-5"><b>Alternate email address</b><br>
        adm**@ssstockalerts.in<br>
        <a class="card-link">Edit address</a></p><br>

     </div>

     </div>

  </div>

