<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section id ="faqs">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>FAQ's</h1>

          <div class="card">
            <div class="card-header">
              <h2 class="clearfix mt-0">
                <a class="btn btn-light" data-toggle="collapse" data-target="#collapseone" >
                  <i class="fa fa-pencil"></i>   Can I cancel subscription? <i class="fa fa-angle-down"></i>
                </a>
              </h2>
            </div>
            <div id="collapseone" class="collapse">
            <div class="card-body"> You can cancel subscription anytime but you will not be refunded any subscription
            amount that is charged.The Cancellation is effective till the valid billing period.which means you can continue using the services
             of streak till the end of the billing cycle.Additionally,you can amail to support@streak.tech.</div>

            </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2 class="clearfix mb-0">
                  <a class="btn btn-light" data-toggle="collapse" data-target="#collapsetwo">
                    <i class="fa fa-pencil"></i>   How soon can I start using your service? <i class="fa fa-angle-down"></i>
                  </a>
                </h2>
              </div>
              <div id="collapsetwo" class="collapse">
              <div class="card-body"> You can sign up online to explore our application sandbox right away. To get paid online from users,
                you will need a payment gateway & merchant account from any of the supported payment gateways. It takes anywhere between a few
                days to a few weeks to get an approved payment gateway account, so please factor that in to go-live.</div>

              </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapsethree" >
                      <i class="fa fa-pencil" ></i>   Who is responsible for chargebacks? <i class="fa fa-angle-down"></i>
                    </a>
                  </h2>
                </div>
                <div id="collapsethree" class="collapse">
                <div class="card-body"> As a merchant you are still responsible for chargebacks as the merchant account is owned by you.
                  We helps you with the right tools to communicate often & communicate unambiguously to avoid chargebacks from your customers.
                  Here are some additional resources on how to avoid chargebacks.</div>

                </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h2 class="clearfix mb-0">
                      <a class="btn btn-light" data-toggle="collapse" data-target="#collapsefour">
                        <i class="fa fa-pencil" ></i>   Can I accept check payments? <i class="fa fa-angle-down"></i>
                      </a>
                    </h2>
                  </div>
                  <div id="collapsefour" class="collapse">
                  <div class="card-body"> Yes. You can track payments made via bank transfer, checks etc., in a single place & reconcile invoices,
                     apart from automatic reconciliation of online credit payments.</div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h2 class="clearfix mb-0">
                        <a class="btn btn-light" data-toggle="collapse" data-target="#collapsefive">
                          <i class="fa fa-pencil"></i>   Do you support one time transactions? <i class="fa fa-angle-down"></i>
                        </a>
                      </h2>
                    </div>
                    <div id="collapsefive" class="collapse" >
                    <div class="card-body">Yes. One-time transactions are support</div>
                  </div>
                    </div>
                  </div>
        </div>
      </div>
</section>
