<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/subscription">Subscription</a>
      <a class="nav-item nav-link" routerLink="/faq">FAQ's</a>
      <a class="nav-item nav-link" routerLink="/app-version">App Version</a>
      <a class="nav-item nav-link" routerLink="/users">User's</a>

  </div>
</nav>

  <div class="container-fluid">

              <router-outlet></router-outlet>
          </div>


