<div class="container-fluid">
  <div class="row">
    <div class="col-11 mt-3"><h3>Users</h3></div>
  <div class="col-1 mt-3"><i class="fa fa-repeat" aria-hidden="true"></i></div>
  <div class="col-12 mb-3">

    <form class="form-inline">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-4 mt-2" type="text" placeholder="Search" aria-label="Search">
      <i class="fa fa-angle-left " aria-hidden="true"></i> 1 <i class="fa fa-angle-right" aria-hidden="true"></i>
      <i class="fa fa-cog ml-4" aria-hidden="true"></i>
    </form><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> <input type="radio"></th>
          <th scope="col">Name <i class="fa fa-caret-down ml-5" aria-hidden="true"></i></th>
          <th scope="col">Email</th>
          <th scope="col">Mobile number</th>
          <th scope="col">Plan name</th>
          <th scope="col">Plan expiry</th>
          <th scope="col">Actions</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><input type="radio"></th>
          <td>Sudhakar</td>
         <a class="streched-link"><td>ss@gmail.com</td></a>
          <td>90000000000</td>
          <td>1 month</td>
          <td>06-12-2020</td>

          <td></td>
        </tr>
        <tr>
          <th scope="row"><input type="radio"></th>
          <td>Karthik</td>
          <a class="streched-link"><td>kk@gmail.com</td></a>
          <td>80000000000</td>
          <td>6 month</td>
          <td>05-05-2020</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"><input type="radio"></th>
          <td>Ram</td>
          <a class="streched-link"><td>ram@gmail.com</td></a>
          <td>70000000000</td>
          <td>1 year</td>
          <td>06-12-2020</td>
          <td></td>
        </tr>
        <tr>
        <th scope="row"><input type="radio"></th>
          <td>Shyam</td>
          <a class="streched-link"><td>shyam@gmail.com</td></a>
          <td>60000000000</td>
          <td>Trial</td>
          <td>15-12-2020</td>
          <td></td>
      </tr>
      </tbody>
    </table>

  </div>
  </div>
  </div>
