<div class="container-fluid">
  <marquee><h1 id="top">Welcome to Logi Broadband service</h1></marquee>
      <div class="card px-4 py-2">
        <div class="div1 row py-2 px-2">
            <div class="col-7 mt-2">
                <p class="font-weight-bold mb-5" id="heading"> Big discount !</p>
                <p class="mt-3"> Dec 1 - Dec 28 </p>
            </div>
            <div class="col-5 d-flex align-items-center">
                <div class="rounded-circle d-flex align-items-center justify-content-center w-70" id="circl"> <img src="/assets/discount.png" height="70px" width="70px"> </div>
            </div>
          </div>
        <div class="py-3">
           <h1><p id="desc">500 GB at 20mb/s Only!  -1200/month </p></h1>
        </div>
    </div>
</div>

