<div class="container">
  <div style="clear:both">
  <h4 style="float: left">Current Plan</h4>
  <div class = "vl"></div>
  <h4 style="float: right;width:45%">Payment Method</h4>
  </div>
<br>
<hr>
<br>
<img src="assets/gift.png" />
<div>
<h5>No Active Plan</h5><br>
<ul>
  <li class="huge"> 0 backtests per day</li><br>
  <li class="huge"> 0 live deployments at a time</li><br>
  <li class="huge"> 100 scans per day</li>
</ul>
</div>
<br>
<h6>Change Plan</h6>
<hr>


<h4>INVOICES</h4>
<hr>
<div style="clear:both">
  <p style="float:left;width:15%">Date</p>
  <p style="float:left;width:15%">Plan</p>
  <p style="float:left;width:25%">Billing Period</p>
  <p style="float:left;width:15%">Payment Method</p>
  <p style="float:left;width:15%">Paid Amount</p>
  <p style="float:left;width:15%">Invoice</p>
</div>
<br>
<hr>
<br>
<div style="clear:both">
  <p style="float:left;width:15%">04/Jan/2019</p>
  <p style="float:left;width:15%">Basic(1 month)</p>
  <p  style="float:left;width:20%">04/Jan/2019 - 02/feb/2019</p>
  </div>
</div>
