<section><div class="card mx-auto" style="width: 25rem;height:100%">
    <div class="card-header bg-primary">
      <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      <i class="fa fa-bell-o" aria-hidden="true"></i>
      <i class="fa fa-cog" aria-hidden="true"></i>
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      <i class="fa fa-volume-down " aria-hidden="true"></i>
      <i class="fa fa-user" aria-hidden="true"></i>
  </div>
    <div class="card-body" id="mainCard">
      <h5 class="card-title">What's new<i class="fa fa-times" aria-hidden="true"></i></h5>
        <div class="card w-80">
          <div class="card-body">
          <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
          <b class="card-title ml-2">  Add your sticky notes to email</b>
          <p class="card-text ml-4"> Sharing your sticky notes just became easier.THey now also apperar in the new OnwNote feed.
          From where you can drag and drop them into email messages.</p>
          <a href="#" class="btn btn-link">Try it</a>
      </div>
  </div>
    <div class="card w-80 mt-2">
      <div class="card-body">
        <i class="fa fa-reply" aria-hidden="true"></i>
        <b class="card-title ml-2">Revoke encrypted emails</b>
        <p class="card-text ml-4">you can now go to <b>Sent items</b> to
           revoke encrypted emails sent to people outside your organization(with some exceptions).</p>
        <a href="#" class="btn btn-link">Learn more</a>
      </div>
  </div>
  <div class="card w-80 mt-2">
    <div class="card-body">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
      <b class="card-title ml-2">See remainders on your desktop</b>
      <p class="card-text ml-4">Go to Settings to turn on notifications</p>
      <a href="#" class="btn btn-link">Go to Settings</a>
    </div>
  </div>
</div>
</div>
</section>



